/* Général */
body {
  margin: 0 auto;
  font-family: "Barlow";
  background-color: #5b584f;
}

.container {
  padding: 2em 4em;
}

/* Navigation */
.main-nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}

.main-nav a.active {
  transition: background-color 0.25s;
  background-color: #f79e6b;
}

.main-nav a {
  text-decoration: none;
  color: black;
  background-color: #e2e2e2;
  padding: 16px 0;
  width: 100%;
}

/* Page accueil */
.main-title {
  color: #fff;
  text-align: center;
  font-size: 45px;
  padding-bottom: 1em;
}

.option-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.option-menu {
  width: 350px;
  height: 300px;
  background-color: #fff;
  font-family: "Barrio";
  padding: 1em;
  box-shadow: 6px 8px 11px 4px rgba(0, 0, 0, 0.1);
}

.option-menu a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
